<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <main>
        <div>
            <h1><%= title %></h1>
        </div>
        <div>
            <a href='/users/add_user' class="btn btn-success">Add User</a>
        </div>

        <div class="main-users">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Customer</th>
                            <th>Status</th>
                            <th>Shipping Date</th>
                            <th>Amount</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <% if (orderlist.length > 0) { %>
                    <% for (let i = 0; i < orderlist.length; i++) { %>
                    <tr>
                        <td><%= orderlist[i]['order_no'] %></td>
                        <td><%= orderlist[i]['customer_name'] %></td>
                        <td><%= orderlist[i]['status'] %></td>
                        <td><%= orderlist[i]['shipping_date'] ?  orderlist[i]['shipping_date'].getFullYear() + '/' + (orderlist[i]['shipping_date'].getMonth() + 1) + '/' + (orderlist[i]['shipping_date'].getDate()) : '' %>
                        </td>
                        <td>$<%= orderlist[i]['total_amount'] %></td>
                        <td><span class="hand" id="<%= orderlist[i]['order_id'] %>" onclick="getDetails(this.id)"><i
                                    class="fa fa-clipboard fa-lg text-dark"></i></span>
                        </td>
                        <td><a href="/orders/order_edit?orderid=<%= orderlist[i]['order_id'] %>"><i
                                    class="fas fa-edit fa-lg text-dark"></i></a>
                        </td>
                        <td><a href="/orders/order_destroy?orderid=<%= orderlist[i]['order_id'] %>"><i
                                    class="fas fa-trash fa-lg text-dark"></i></a></td>
                    </tr>
                    <% } %>
                    <% } else { %>
                    <tr>
                        <td colspan="7">No records.</td>
                    </tr>
                    <% } %>
                </table>
                <script>
                    function getDetails(orderid) {
                        $.ajax({
                            type: 'GET',
                            url: '/orders/order_detail/' + orderid,
                            dataType: 'json',
                        }).done(result => {

                            const res = result['order'];
                            if (res[0]) {
                                let order_no = res[0]['order_no'];
                                let status = res[0]['status'];
                                let customer_name = res[0]['customer_name'];
                                let date_created = res[0]['date_created'];

                                if (date_created) {
                                    date_created = new Date(date_created);
                                    date_created = date_created.getFullYear() + '/' + (date_created.getMonth() +
                                        1) + '/' + date_created.getDate();
                                }

                                let shipping_date = res[0]['shipping_date'];

                                if (shipping_date) {
                                    shipping_date = new Date(shipping_date);
                                    shipping_date = shipping_date.getFullYear() + '/' + (shipping_date
                                        .getMonth() +
                                        1) + '/' + shipping_date.getDate();
                                }

                                let total_amount = res[0]['total_amount'];
                                let processor = res[0]['processor'];

                                $("#order_no").html(order_no);
                                $("#status").html(status).css("textTransform", "capitalize");
                                $("#customer_name").html(customer_name).css("textTransform", "capitalize");
                                $("#date_created").html(date_created);
                                $("#shipping_date").html(shipping_date);
                                $("#total_amount").html("$" + total_amount);
                                $("#processor").html(processor).css("textTransform", "capitalize");

                                if (res[0]['product_name']) {
                                    let order_item_detail = "<table class='table'><thead> \
                                    <th>Product</th>\
                                    <th>Quantity</th>\
                                    <th>Price</th>\
                                    <th>Subtotal</th></thead><tbody>";

                                    let total = 0;
                                    for (let i = 0; i < res.length; i++) {
                                        let subtotal = res[i]['quantity'] * res[i]['unit_price'];
                                        total += subtotal;
                                        order_item_detail += "<tr><td>" + res[i]['product_name'] + "</td> \
                                        <td>" + res[i]['quantity'] + "</td>\
                                        <td>$" + res[i]['unit_price'] + "</td>\
                                        <td>$" + subtotal + "</td></tr>"
                                    }

                                    order_item_detail += "<tr><td colspan='3'>Total</td><td>$" + total +
                                        "</td></tr></tbody></table>";

                                    $("#order_item_detail").html(order_item_detail);
                                } else {
                                    $("#order_item_detail").html('---');
                                }
                            } else {
                                $("#order_no").html('---');
                                $("#status").html('---');
                                $("#customer_name").html('---');
                                $("#date_created").html('---');
                                $("#shipping_date").html('---');
                                $("#total_amount").html('---');
                                $("#processor").html('---');
                                $("#order_item_detail").html('---');
                            }
                        }).fail(err => {
                            $("#order_no").html('---');
                            $("#status").html('---');
                            $("#customer_name").html('---');
                            $("#date_created").html('---');
                            $("#shipping_date").html('---');
                            $("#total_amount").html('---');
                            $("#processor").html('---');
                            $("#order_item_detail").html('---');
                        });
                    }
                </script>
            </div>
            <div class="user-details" id="user-details">
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">Order Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Order #</td>
                                <td id="order_no">---</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td id="status">---</td>
                            </tr>
                            <tr>
                                <td>Customer</td>
                                <td id="customer_name">---</td>
                            </tr>
                            <tr>
                                <td>Date Created</td>
                                <td id="date_created">---</td>
                            </tr>
                            <tr>
                                <td>Shipping Date</td>
                                <td id="shipping_date">---</td>
                            </tr>
                            <tr>
                                <td>Amount</td>
                                <td id="total_amount">---</td>
                            </tr>
                            <tr>
                                <td>Processed by</td>
                                <td id="processor">---</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="order_item_detail">

                </div>
            </div>
        </div>
    </main>
    <% include ../partials/footer.ejs %>
    <% include ../partials/scripts.ejs %>
</body>

</html>