<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <main>
        <div>
            <h1><%= title %></h1>
        </div>

        <form action="/orders/save_order" method="POST">
            <div class="form-group">
                <label for="orderid"></label>
                <input type="hidden" name="docreate" value="<%= docreate ? 'create' : 'update' %>">
                <% if (docreate) { %>
                <input type="hidden" class="form-control" name="orderid" value="">
                <% } else { %>
                <input type="hidden" name="orderid" value="<%= orderid %>">
                <span><%= orderid %></span>
                <% } %>
            </div>
            <div class="form-group">
                <label for="order_no">Order #</label>
                <input type="text" class="form-control" name="order_no" value="<%= order ? order.order_no : '' %>"
                    required>
            </div>
            <div class="form-group">
                <label for="order_status">Status</label>
                <select class="form-control" name="order_status" id="order_status" required>
                    <% if (order_status.length > 0) { %>
                    <option>Choose Status</option>
                    <% for (let i = 0; i < order_status.length; i++) { %>
                    <option value="<%= order_status[i][0] %>">
                        <%= order_status[i][1] %>
                    </option>
                    <% } %>

                    <% } else {%>
                    <option>Choose Status</option>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label for="customer_name">Customer</label>
                <select class="form-control" name="customers" id="customers" required>
                    <option>Choose Customer</option>
                    <% if (customerlist.length > 0) { %>
                    <% for (let i = 0; i < customerlist.length; i++) { %>
                    <option id="<%= customerlist[i]['customer_id'] %>" value="<%= customerlist[i]['customer_id'] %>">
                        <%= customerlist[i]['first_name'] + ' ' + customerlist[i]['last_name'] %>
                    </option>
                    <% } %>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label for="date_created">Date Created</label>
                <input type="date" class="form-control" name="date_created"
                    value="<%= order ?  order.date_created : '' %>" required>
            </div>
            <div class="form-group">
                <label for="shipping_date">Shipping Date</label>
                <input type="date" class="form-control" name="shipping_date"
                    value="<%= order ?  order.shipping_date : '' %>" required>
            </div>
            <div class="form-group">
                <label for="total_amount">Total Amount</label>
                <input type="text" class="form-control" id="total_amount" name="total_amount"
                    value="<%= order ?  order.total_amount : '' %>" readonly>
            </div>
            <div class="form-group">
                <label for="processed_by">Processed by</label>
                <select class="form-control" name="users" id="users" required>
                    <option>Choose Processor</option>
                    <% if (userlist.length > 0) { %>

                    <% for (let i = 0; i < userlist.length; i++) { %>
                    <option id="<%= userlist[i]['user_id'] %>" value="<%= userlist[i]['user_id'] %>">
                        <%= userlist[i]['first_name'] + ' ' + userlist[i]['last_name'] %>
                    </option>
                    <% } %>
                    <% } %>
                </select>
            </div>
            <div>
                <button class="btn btn-primary" type="button" onclick="addItem()">Add Item</button>
                <br>
                <br>
                <label>Order Items</label>
                <table class="table" id="tbl_order_items">
                    <thead>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                    </thead>
                    <tbody id="tbody_order_items">
                        <tr id="tr_0">
                            <td>
                                <select class="form-control" name="products" id="products" required>
                                    <option value="choose_product">Choose Product</option>
                                    <% if (productslist.length > 0) { %>
                                    <% for (let i=0; i < productslist.length; i++) { %>
                                    <option value="<%= productslist[i]['product_id']%>">
                                        <%= productslist[i]['product_name'] %>
                                    </option>
                                    <% } %>
                                    <% } %>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="quantity" name="quantity" required>
                            </td>
                            <td><input type="text" class="form-control" id="unit_price" name="unit_price" readonly></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3">Total</td>
                            <td>$<span name="unit_price" id="tbl_total">0.00</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-success" href="/orders">Back to List</a>
            </div>
        </form>
        <script>
            function addEventListenerOrder(e, _id) {
                //console.log(tr_cloned_id);

                let tr_cloned_id = _id;

                let target_type = e.target.type;
                console.log(target_type);
                // product select
                if (target_type === 'select-one') {
                    let product_id = $('#' + tr_cloned_id + " select").val();
                    console.log(product_id);

                    $.ajax({
                        type: 'GET',
                        url: '/product-product/product_detail/' + product_id,
                        dataType: 'json'
                    }).done(result => {
                        // success
                        if (result['product']) {
                            console.log(result['product'][0]['unit_price']);
                            let unit_price = result['product'][0]['unit_price'];
                            $('#' + tr_cloned_id + " td:nth-child(3) input").val(unit_price);
                        } else {
                            $('#' + tr_cloned_id + " td:nth-child(3)").html('');
                        }
                    }).fail(err => {
                        // error
                        console.log(err);
                    })
                }

                // quantity
                if (target_type === 'text') {
                    let quantity = $('#' + tr_cloned_id + " input").val();
                    let unit_price = $('#' + tr_cloned_id + " td:nth-child(3) input").val();
                    let subtotal = parseFloat(unit_price) * parseInt(quantity);
                    let subtotal_rounded = (Math.round(subtotal * 100) / 100).toFixed(2);
                    console.log([quantity, unit_price, subtotal]);
                    $('#' + tr_cloned_id + " td:nth-child(4)").html('$' + subtotal_rounded);

                    // table total
                    let tbl_total = parseFloat($("#tbl_total").text());
                    tbl_total = parseFloat(tbl_total) + parseFloat(subtotal_rounded);
                    $("#tbl_total").html(tbl_total);
                    $("#total_amount").val(tbl_total);
                }
            }

            function addItem() {
                console.log('Add item...');
                let tr_0 = document.getElementById('tr_0');
                let tbl_order_items = document.getElementById('tbl_order_items');
                let tbody_order_items = document.getElementById('tbody_order_items');
                let tr_cloned = tr_0.cloneNode(true);
                let tbody_rows_length = tbody_order_items.rows.length;
                let tr_cloned_id = 'tr_' + (tbody_rows_length - 1);
                tr_cloned.id = tr_cloned_id;
                //tr_cloned.td[0].select.id = "111";
                // Insert cloned tr before the last row
                console.log(tbl_order_items.rows.length);
                tbody_order_items.insertBefore(tr_cloned, tbody_order_items.childNodes[tbody_order_items.rows.length]);

                $('#' + tr_cloned_id + " input").val('');
                // add event listener to the newly cloned row
                document.getElementById(tr_cloned_id).addEventListener('change', (e) => {
                    addEventListenerOrder(e, tr_cloned_id);
                })
            }

            // add event listener to the row to be cloned
            document.getElementById("tr_0").addEventListener('change', (e) => {
                addEventListenerOrder(e, "tr_0");
            })
        </script>
    </main>
    <% include ../partials/footer.ejs %>
    <% include ../partials/scripts.ejs %>
</body>

</html>