<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <main>
        <div>
            <h1><%= title %></h1>
        </div>
        <div>
            <% if (user) { %>
            <h3><%= user.userid %></h3>
            <p><%= user.username %></p>
            <p><%= user.passwd %></p>

            <hr>
            <p><a href="/users/user_destroy?userid=<%= user.userid %>">Delete</a>
                |<a href="/users/user_edit?userid=<%= user.userid %>">Edit</a></p>
            <% } %>
        </div>
    </main>
    <% include ../partials/footer.ejs %>
    <% include ../partials/scripts.ejs %>
</body>

</html>