<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <main>
        <div>
            <h1><%= title %></h1>
        </div>
        <div>
            <a href='/users/add_user' class="btn btn-primary">Add User</a>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <% for (let i = 0; i < userslist.length; i++) { %>
                <tr>
                    <td><%= userslist[i]['first_name'] %></td>
                    <td><%= userslist[i]['last_name'] %></td>
                    <td><%= userslist[i]['username'] %></td>
                    <td><%= userslist[i]['passwd'] %></td>
                    <td><a href="/users/user_edit?userid=<%= userslist[i]['user_id'] %>">Details</a></td>
                    <td><a href="/users/user_edit?userid=<%= userslist[i]['user_id'] %>">Edit</a></td>
                    <td><a href="/users/user_destroy?userid=<%= userslist[i]['user_id'] %>">Delete</a></td>
                </tr>
                <% } %>
            </table>
        </div>
    </main>
    <% include ../partials/footer.ejs %>
    <% include ../partials/scripts.ejs %>
</body>

</html>